
{{#each this}}
<li  class="card-item col">
<div class="photo-card card " >
  <img src={{webformatURL}} alt={{tags}} data-full-img = {{largeImageURL}} class="card-img-top img-hover" width="640" height="270"/>

  <div class="stats card-footer info">
    <p class="stats-item ">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="stats-item ">
      <i class="material-icons">visibility</i>
      {{views}}
    </p>
    <p class="stats-item ">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="stats-item ">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>
  </div>
</div>
</li>
{{/each}}
